@font-face {
  font-family: 'Varela';
  font-style: normal;
  font-weight: 400;
  src: local('Varela'), url(http://fonts.gstatic.com/s/varela/v7/G6yziUoU5w8QmZ32N_0XDQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/varela/v7/_yYHMt_E4smqfVTA22m7TQ.woff) format('woff');
}
